---
import BaseLayout from './Layout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <div class="work-img">
        <img class="pro-img" src={frontmatter.image.url} alt={frontmatter.image.alt} />
    </div>
    <h2>{frontmatter.title}</h2>
    <div class="contents">
        <slot />
    </div>
    <ul class="badge__list">
        <li><span class="badge badge--item">PLATFORM</span>{frontmatter.platform}</li>
        {frontmatter.stack && <li><span class="badge badge--item">STACK</span>{frontmatter.stack}</li>}
        <li><span class="badge badge--item">WEBSITE</span><a class="badge__link" href={frontmatter.website} target="_blank">{frontmatter.website}</a></li>
        {frontmatter.github && <li><span class="badge badge--item">GITHUB</span><a class="badge__link" href={frontmatter.github} target="_blank">{frontmatter.github}</a></li>}
    </ul>
    <div class="center work-img">
        {frontmatter.worksImage1 && <img class="pro-img" width="500px" height="281" src={frontmatter.worksImage1.url} alt={frontmatter.worksImage1.alt} />}
        {frontmatter.worksImage2 && <img class="pro-img" width="500px" height="281" src={frontmatter.worksImage2.url} alt={frontmatter.worksImage2.alt} />}
    </div>
</BaseLayout>

